body{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    width: 100px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    font-weight: 800;
    font-family: sans-serif;
    font-size: medium;
    background-color: rgb(247, 155, 155);
}

.score_p1,.score_p2{
    display: flex;
    justify-items: center;
}

p{
    font-weight: bolder;
}